.about {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}

.about-info {
    margin-top: 25px;
    width: 45%;
}

.about-project {
    width: 100%;
}


.about-info>* {
    margin-top: 25px;
}

.about-image {
    width: 50%;
}


.about-image img {
    min-width: 500px;
    max-width: 100%;
    height: auto;
}

.about-title {
    font-size: 40px;
    font-weight: 600;
}

.about-subtitle,
.about-text {
    font-size: 22px;
    font-family: cursive;
    font-weight: 400;
}

.about-subtitle {
    text-align: start;
    padding-left: 25px;
}

.about-text {
    padding-bottom: 25px;
    text-align: left;
    padding-left: 50px;
    border-bottom: 1px solid rgba(136, 136, 136, 0.505);

}
.about-tech{
    margin-top: 50px;
}

.about-tech img {

    width: 56px;
    height: 56px;
}

.about-contact__list,
.tech-list {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.about-link {
    text-decoration: none;
}

.about-contact__list img {
    max-width: 40px;
}
.tech-list img{
    max-width: 100px;
}

.contact-title,
.tech-title {
    text-align: center;
    padding-bottom: 35px;
    font-size: 25px;
    font-family: cursive;

}

.about-contact__item,
.about-tech__item {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.about-tech__item:hover,
.about-contact__item:hover {
    transform: translateY(-5px);
}





@media screen and (max-width: 1000px) {
    .about {
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
    }
}