/* .wrapper_posts {
    display: grid;
    grid-template-areas:
        "a a a"
        "b b c"
        "b b c";
    justify-items: center;
}

.posts-head {
    grid-area: a;
}

.posts-content {
    grid-area: b;
}

.posts-settings {
    grid-area: c;
} */