* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
}

.posts {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(147, 45, 242, 0.4);
}

.posts_form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page_wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0 25px 0;

}

.page_current {
  color: #fff;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
  pointer-events: none;
}

.page:hover {
  background-color: #000000c6;
  color: #fff;
  border-radius: 5px;
}

.page:active {
  transform: scale(0.95);
}

.navBar {
  width: 800px;
  height: 50px;
  background-color: #6823a959;
  margin-bottom: 50px;
  padding: 0 15px;

}

.navBar_items {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.navBar_items>.links {
  padding: 0 10px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}