* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}



#root {
  font-size: 16px;
  font-family: 'Gelasio', serif;
  margin: 0 auto;
}

input,
option,
select
 {
  font-family: 'Gelasio', serif;
}

h1,
h2,
h3,
h4,
h5,
button,
a {

  font-family: 'Cinzel', serif;

}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.App {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 65px;
}



.posts_form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}






/* ======== Posts main content */
.posts-content {}