* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}



#root {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
button,
p,
a {

  font-family: 'Cinzel', serif;

}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posts {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(147, 45, 242, 0.4);
}

.posts_form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page_wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0 25px 0;

}

.page_current {
  color: #fff;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
  pointer-events: none;
}

.page:hover {
  background-color: #000000c6;
  color: #fff;
  border-radius: 5px;
}

.page:active {
  transform: scale(0.95);
}