.posts_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.select_wrapper {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .posts_filter {
        flex-direction: column;
    }
}