.error_wrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.error-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.error-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.error-exit {
    opacity: 1;
    transform: translateY(0);
}

.error-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}