.button_default {
  max-width: fit-content;
  font-size: 16px;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
}

.button_default:active {
  color: white;
  background-color: #404040;
}

.button_defaultR {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button_defaultR:active,
.button_defaultComments:active {
  transform: scale(0.9)
}

.button_defaultComments {
  border-radius: 5px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: fit-content;
  border: 1px solid rgba(128, 128, 128, 0.567);
}

.button_login {
  color: #fff;
  background-color: #5264AE;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button_login:hover {
  background-color: #677ed8;
}

.button_login:active {
  background-color: #677ed8;

}