.comments {
    margin: 0 auto;
    max-width: 800px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    border-radius: 15px;
    background-color: #e4e1e189;
    border: 1px solid rgba(105, 105, 105, 0.176);

}

.comments img {
    vertical-align: top;
    width: 15px;
    height: 15px;
}

.comments-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;

    background-color: white;
    border-radius: 5px;
    padding: 5px 25px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.comments-head {
    font-weight: 600;
}

.comments-body {
    font-size: 14px;
}

.comments-body::first-letter {
    text-transform: uppercase;
}


.comment-enter {
    opacity: 0;
}

.comment-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.comment-exit {
    opacity: 1;
}

.comment-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.comment-new-enter {
    opacity: 0;
    transform: translateY(-50%);
}

.comment-new-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 500ms;
}

.comment-new-exit {
    opacity: 1;
    transform: translateY(0%);
}

.comment-new-exit-active {
    opacity: 0;
    transform: translateY(-50%);
    transition: all 500ms;
}