.input-login {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: none;
}


.input-login:focus {
    outline: none;
    box-shadow: 0px 0px 5px #bbb;
    border-color: #bbb;
}